.photo {
    float: left;
    margin-right: 18px;
    padding: 0.25rem;
    background-color: #ffc107;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
}

.description{
    margin-top: 130px
}

.bouton{
    margin-bottom: 100px
}